# IDE & OS files
.idea
nbproject
.buildpath
.project
.settings
*.sublime-project
*.sublime-workspace
Thumbs.db
.DS_Store

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
# local phpunit cache
.phpunit.result.cache
